@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Alata';
}

html {
	background-color: #FAF9F6;
}

header {
    padding-left: 3%;
    background-color: #001612;
}

.subheader  {
    margin: 0% 3% 0% 3%;
}

.top {
    margin: 0% 10% 0%;
}

/* nav buttons start */

li a {
    display: block;
    margin-left: 20px;
}

ul {
    display: flex;;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'oxygen mono';
    display: flex;
    margin: 3% 10% 0% 10%;
    font-size: 28px;
    justify-content: space-between;
}

.home {
    display: flex;
    font-family: 'oxygen mono';
    font-size: 28px;
}

.links {
    font-family: 'oxygen mono';
    font-size: 16px;
    padding: 10px;
    outline: 2px solid #001612;
    border-radius: 5px;
}

.links:hover {
    background-color: #001612;
    color: #FAF9F6;
    padding: 10px; /* adjust the padding value as needed */
  }

  .links:hover a {
    color: #FAF9F6;
  }

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
  
.prev-button, .next-button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF9F6;
    pointer-events: auto;
    outline: 2px solid #001612;
  }
  
  
  .prev-button svg, .next-button svg {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
  }
  
  .prev-button span, .next-button span {
    font-size: 14px;
    font-weight: light;
    color: #001612;
    font-family: 'oxygen mono';
  }
  
  .prev-button:hover, .next-button:hover {
    background-color: #001612;
    color: #FAF9F6;
  }
  
  .prev-button:hover span, .next-button:hover span {
    color: #FAF9F6;
  }
  
  .prev-button:disabled svg, .next-button:disabled svg {
    fill: #001612;
  }

/* nav buttons end */


/* homepage outline text */

outline {    
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .03em #001612;
}

outline:hover { 
    -webkit-text-fill-color: #001612;
}

a:hover { 
    color:#001612;
    -webkit-text-stroke: #001612;
}

a:link {
  text-decoration: none;
}

:not(outline) {
    -webkit-text-stroke: none;
}


/* homepage outline text end */ 


/* footer */

footer {
    font-size: 20px;
    margin: 0% 10% 5% 10%;
    color: #001612;   
    font-family: 'oxygen mono';
}

.copyright {
    float: right;
}

.social {
    float: left;
}

a:any-link { 
    color: #001612;
    align-content: center;
}

/* footer end */


.box {
    background-color: transparent;
}

.box-menu {
    background-color: transparent;
    padding: 24px;
    margin: 10% 0 10%;
    outline: 2px solid #001612;
    border-radius: 5px;
}

.box-menu:hover {
    cursor: pointer;
}

.wrapper {
    text-align: start;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #001612;
    column-gap: 10%;
    margin: 5% 10% 5%;
    grid-auto-rows: auto;
}

.wrapper2 {
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr;
    color: #001612;
    column-gap: 10%;
    margin: 5% 15% 5%;
    grid-auto-rows: auto;
}

.wrapper-boxed {
    pointer-events: none;
    text-align: center;
    align-content: center;
    margin: 5% 10% 10%;
    outline: 2px solid #001612;
    border-radius: 5px;
}

.wrapper-description {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #001612;
    margin-top: 5%;
    padding: 0% 10% 0%;
    background-color: #001612;
}

.wrapper-photography {
    pointer-events: none;
    text-align: center;
    align-content: center;
    margin: 5% 10% 5%;
    grid-template-columns: 1fr 1fr;
    color: #001612;
    column-gap: 10%;
}

.wrapper-photography-black {
    pointer-events: none;
    text-align: center;
    align-content: center;
    margin: 15%;
    grid-template-columns: 1fr 1fr;
    background-color: #0b0b0b;
    column-gap: 10%;
}

.wrapperhalf {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-content: center;
    display: grid;
    column-gap: 5%;
}

img { 
    width: 100%;
}

.img-container:hover {
    opacity: 90%;
}

.img-container img {
    outline: 2px solid #001612;
    border-radius: 5px;
  }

.img-container {
    margin-bottom: 5%;
    transition: filter 0.2s ease-in-out;
}

.img-container-2 {
    margin: 10%;
}


/* masonry gallery */

.masonry-container {
    column-count: 3;
    padding: 20px;
    margin: 10%;
    outline: 2px solid #001612;
}

.masonry-container-2 {
    column-count: 2;
    padding: 20px;
    margin: 10%;
    outline: 2px solid #001612;
}


.masonry-item {
    break-inside: avoid;
    margin-bottom: 20px;
    border-radius: 0px;
    overflow: hidden;
    pointer-events: none;
}

.masonry-item img {
    width: 100%;
    display: block;
}

.video {
    width: 100%;
    padding: 5%;
    outline: 2px solid #001612;
    margin-bottom: 10%;
}

.masonry-item-2 {
    grid-column: span 2; /* Span 2 columns */
}

/* fonts */

.homemenu {      
    margin: 5%;
    font-size: 7.5vw;
    color: #001612;   
}

.homemenu h1 {
    all: unset;
    color: #001612;
  }

date {
    opacity: 69%;
    font-family: 'oxygen mono';
    font-size: 20px;
    width: 100%;
}

h1 {
    font-size: 7vw;
    line-height: 1.2;
    font-family: 'alata';
    color: #FAF9F6;
}

h2 {
    margin-top: 5%;
    font-size: 26px;
    font-family: "oxygen mono";
    font-weight: normal;
    line-height: 1.6;
}

h3 {
    font-family: 'oxygen mono';
    font-size: 18px;
    width: 100%;
    color: #FAF9F6;
    font-weight: normal;
    text-align: center;
}


description {
    font-size: 35px;
    margin-top: 10%;
    font: "alata";
}


p {
    opacity: 69%;
    font-family: 'oxygen mono';
    font-size: 18px;
    width: 100%;
    color: #001612;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}


/* Mobile styles */
@media (max-width: 600px) {
    .homemenu {
        font-size: 15vw; /* Adjust font size for smaller screens */
        margin: 3%; /* Reduce margin on mobile */
    }
}

@media screen and (max-width:600px) {
    footer {
        clear: both;
        position: relative;
        margin: 10% 3% 10%;
        color: #001612;   
        font-family: 'oxygen mono';
        font-size: 2.5vw;
    }
    header {
        padding-left: 3%;
        background-color: #001612;
    }
    .top {
        margin: 0% 3% 10%;
    }
    nav {
        font-family: 'oxygen mono';
        margin: 5% 3% 15%;
        font-size: 18px;
    }
    .links {
        display: flex;
        font-family: 'oxygen mono';
        font-size: 12px;
        justify-content: end;
        padding: 5px;
    }
    .links:hover {
        background-color: #001612;
        color: #FAF9F6;
        padding: 5px; /* adjust the padding value as needed */
        border-radius: 5px; /* add a border radius to match the .prev-button and .next-button classes */
    }
    .wrapper {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        margin: 5% 3% 5%;
    }   
    .wrapper-boxed {
        pointer-events: none;
        text-align: center;
        align-content: center;
        margin: 5% 3% 10%;
        outline: 2px solid #001612;
        border-radius: 5px;
}        
    .wrapper2 {
        grid-template-columns: 1fr;
    }
    .wrapperhalf {
        grid-template-columns: 1fr;
    }
    .wrapper-description {
        align-content: center;
        display: inherit;
        grid-template-columns: 1fr 1fr;
        color: #001612;
        column-gap: 10%;
        margin-top: 5%;
        margin-bottom: 0%;
    }
}
  
@media all and (min-width:501px) {
      .desktop-br {display: inline;}
      .mobile-br {display: none;}
  }
  
@media all and (max-width:500px) {
      .desktop-br {display: none;}
      .mobile-br {display: inline;}
  }  

@media (max-width: 600px) {
  .box {
    margin: 0%;
}
  .box-menu {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 24px;
  }
}

@media only screen and (max-width: 600px) {

 .prev-button span, .next-button span {
    font-size: 10px;
    color: #001612;
}

 .prev-button svg, .next-button svg {
    width: 24px;
    height: 24px;
    margin-bottom: 0px;
    color: #001612;
}

 .prev-button:hover, .next-button:hover {
    background-color: #001612;
    color: #FAF9F6;
}
  
 .prev-button:hover span, .next-button:hover span {
    color: #FAF9F6;
}
  
 .prev-button:disabled svg, .next-button:disabled svg {
    fill: #001612;
}

.prev-button:hover svg, .next-button:hover svg {
    stroke: #FAF9F6;
  }

 .navigation {
    justify-content: space-between;
    align-items: center;
    position: static;
    transform: none;
    display: flex;
    padding: 3% 3% 3%;
    overflow-anchor: none;
    }
}


/* fonts mobile */

@media (max-width: 600px) {
    p {
      font-size: 12px;
    }
    description {
      font-size: 22px;
    }
    date {
      font-size: 12px;
    }
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 12px;
      font-weight: normal;
    }
    h3 {
      font-size: 10px;
      font-weight: normal;
    }
  }

/* fonts mobile end*/


 /* masonry gallery mobile */
@media screen and (max-width: 1200px) {
    .masonry-container {
        column-count: 3;
        margin: 10% 3% 10%;
    }
}
    
@media screen and (max-width: 900px) {
    .masonry-container {
        column-count: 2;
        margin: 10% 3% 10%;
    }
}
        
@media screen and (max-width: 600px) {
    .masonry-container {
        column-count: 1;
        margin: 10% 3% 10%;
    }
}

@media screen and (max-width: 900px) {
    .masonry-container-2 {
        column-count: 2;
        margin: 10% 3% 10%;
    }
}

@media screen and (max-width: 600px) {
    .masonry-container-2 {
        column-count: 1;
        margin: 10% 3% 10%;
    }
}