@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Alata';
}

html {
	background-color: #FAF9F6;
}

header {
    text-align: center;
    margin: auto;
    margin: 10%;
    margin-bottom: 5%;
}

nav {
    font-family: 'oxygen mono';
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    font-size: 2vw;
    
}


outline {    
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: .03em #001612;
}

outline:hover { 
    -webkit-text-fill-color:#001612;
}

a:link {
  text-decoration: none;
}

a2 {
    text-align: center;
}

footer {
    clear: both;
    position: relative;
    font-size: 1.5vw;
    margin: auto;
    margin-left: 5%;
    margin-bottom: 10%;
    color: #001612;   
    font-family: 'oxygen mono';
    text-align: center;
}

.copyright {
    margin-right: 5%;
    float: right;

}

.social {
    float: left;
}

a:any-link { 
    color: #001612;
}

a:hover { 
    color:#001612;
    -webkit-text-stroke: #001612;
}

box {
    height: 50%;
    width: 50%;
    background-color: #001612; 
}


.wrapper {
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #001612;
    column-gap: 10%;
    margin: 10%;
    grid-auto-rows: minmax(50vw, auto) 
    
}

.wrapper2 {
    pointer-events: none;
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #001612;
    column-gap: 10%;
    margin: 15%;
    grid-auto-rows: minmax(30vw, auto) 
}

.wrapper_photography {
    pointer-events: none;
    text-align: center;
    align-content: center;
    margin: 15%;
    grid-template-columns: 1fr 1fr;
    color: #001612;
    column-gap: 10%;
}

.wrapper_photography_black {
    pointer-events: none;
    text-align: center;
    align-content: center;
    margin: 15%;
    grid-template-columns: 1fr 1fr;
    background-color: #0b0b0b;
    column-gap: 10%;
}

.wrapperhalf {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-content: center;
    display: grid;
    column-gap: 5%;
}


img { 
    width: 100%;
}

img:hover {
    opacity: 80%; 
    background-color:#001612;
}


/* masonry gallery */

.masonry-container {
    column-count: 3;
    padding: 20px;
    margin: 10%;
}

.masonry-container-2 {
    column-count: 2;
    padding: 20px;
    margin: 10%;
}


.masonry-item {
    break-inside: avoid;
    margin-bottom: 20px;
    border-radius: 0px;
    overflow: hidden;
}

.masonry-item img {
    width: 100%;
    display: block;
}

.masonry-item-2 {
    grid-column: span 2; /* Span 2 columns */
}

/* fonts */

.title {      
    margin: 5%;
    font-size: 7.5vw;
    color: #001612;   
}

date {
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 69%;
    font-family: 'oxygen mono';
    font-size: 1vw;
    width: 100%;
}

h1 {
    font-size: 7vw;
    font-family: 'alata';
    text-align: center;
    color: #001612;
}

h2 {
    margin-top: 1vw;
    margin-bottom: 5vw;
    text-align: center;
    font-size: 2vw;
    font-family: "oxygen mono";
}

h3 {
    margin-top: vw;
    margin-bottom: 2vw;
    font-size: 2vw;
    font-family: "alata";
    text-align:center !important;
    align-content:center !important;
}

description {
    font-size: 2vw;
    margin-top: 10%;
    font: "alata";
}

p {
    opacity: 69%;
    font-family: 'oxygen mono';
    font-size: 1vw;
    width: 100%;
    color: #001612;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}


/* Mobile styles */
@media (max-width: 768px) {
    .title {
        font-size: 15vw; /* Adjust font size for smaller screens */
        margin: 3%; /* Reduce margin on mobile */
    }
}

@media screen and (max-width:768px) {
    .footer{
        font-size: 3vw;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100vw, auto) 
    }
  }
  
  @media only screen and (max-width: 768px) {
    .wrapper2 {
        grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .wrapperhalf {
        grid-template-columns: 1fr;
    }
  }
  
  @media all and (min-width:501px) {
      .desktop-br {display: inline;}
      .mobile-br {display: none;}
  }
  
  @media all and (max-width:500px) {
      .desktop-br {display: none;}
      .mobile-br {display: inline;}
  }

  @media (max-width: 768px) {
    p {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    description {
        font-size: 4vw;
    }
}

@media (max-width: 768px) {
    date {
        font-size: 2vw;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 900px) {
    .video {
        margin-top: 10vw;
    }
}
        
@media screen and (max-width: 600px) {
    .video {
        margin-top: 10vw;
    }
}

 /* masonry gallery mobile */
@media screen and (max-width: 1200px) {
    .masonry-container {
        column-count: 3;
    }
}
    
@media screen and (max-width: 900px) {
    .masonry-container {
        column-count: 2;
    }
}
        
@media screen and (max-width: 600px) {
    .masonry-container {
        column-count: 1;
    }
}

@media screen and (max-width: 900px) {
    .masonry-container-2 {
        column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    .masonry-container-2 {
        column-count: 1;
    }
}