@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Alata';
}

html {
	background-color: #FAF9F6;
}

header {
    text-align: center;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    font-family: 'oxygen mono';
    margin:auto;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 28px;
}

/* homepage outline text */

outline {    
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke: .03em #001612;
}

outline:hover { 
    -webkit-text-fill-color:#001612;
}

a:hover { 
    color:#001612;
    -webkit-text-stroke: #001612;
}

a:link {
  text-decoration: none;
}

:not(outline) {
    -webkit-text-stroke: none;
}



/* homepage outline text end */ 

/* footer */

footer {
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 10%;
    color: #001612;   
    font-family: 'oxygen mono';
}

.copyright {
    margin-right: 5%;
    float: right;
}

.social {
    float: left;
}

a:any-link { 
    color: #001612;
}

/* footer end */


.wrapper {
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #001612;
    column-gap: 10%;
    margin: 10%;
    grid-auto-rows: minmax(50vw, auto) 
    
}

.wrapper2 {
    pointer-events: none;
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #001612;
    column-gap: 10%;
    margin: 15%;
    grid-auto-rows: minmax(30vw, auto) 
}

.wrapper_boxed {
    pointer-events: none;
    text-align: center;
    align-content: center;
    padding: 5%;
    margin: 10%;
    background-color: #001612;
}

.wrapper_description {
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #001612;
    column-gap: 10%;
    margin: 10%;
    margin-bottom: -10%;
}

.wrapper_photography {
    pointer-events: none;
    text-align: center;
    align-content: center;
    margin: 15%;
    grid-template-columns: 1fr 1fr;
    color: #001612;
    column-gap: 10%;
}

.wrapper_photography_black {
    pointer-events: none;
    text-align: center;
    align-content: center;
    margin: 15%;
    grid-template-columns: 1fr 1fr;
    background-color: #0b0b0b;
    column-gap: 10%;
}

.wrapperhalf {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-content: center;
    display: grid;
    column-gap: 5%;
}


img { 
    width: 100%;
}

img:hover {
    opacity: 80%; 
    background-color:#001612;
}


/* masonry gallery */

.masonry-container {
    column-count: 3;
    padding: 20px;
    margin: 10%;
}

.masonry-container-2 {
    column-count: 2;
    padding: 20px;
    margin: 10%;
}


.masonry-item {
    break-inside: avoid;
    margin-bottom: 20px;
    border-radius: 0px;
    overflow: hidden;
}

.masonry-item img {
    width: 100%;
    display: block;
}

.masonry-item-2 {
    grid-column: span 2; /* Span 2 columns */
}

/* fonts */

.title {      
    margin: 5%;
    font-size: 7.5vw;
    color: #001612;   
}

date {
    opacity: 69%;
    font-family: 'oxygen mono';
    font-size: 20px;
    width: 100%;
}

h1 {
    font-size: 7vw;
    font-family: 'alata';
    text-align: center;
    color: #001612;
}

h2 {
    margin-top: 5%;
    text-align: center;
    font-size: 25px;
    font-family: "oxygen mono";
    font-weight: normal;
}

h3 {
    font-family: 'oxygen mono';
    font-size: 18px;
    width: 100%;
    color: #001612;
    font-weight: normal;
}


description {
    font-size: 35px;
    margin-top: 10%;
    font: "alata";
}


p {
    opacity: 69%;
    font-family: 'oxygen mono';
    font-size: 18px;
    width: 100%;
    color: #001612;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
}


/* Mobile styles */
@media (max-width: 600px) {
    .title {
        font-size: 15vw; /* Adjust font size for smaller screens */
        margin: 3%; /* Reduce margin on mobile */
    }
}

@media screen and (max-width:600px) {
    footer{
        clear: both;
        position: relative;
        margin: auto;
        margin-left: 5%;
        margin-bottom: 20%;
        margin-top: 20%;
        color: #001612;   
        font-family: 'oxygen mono';
        font-size: 2.5vw;
    }
}

@media screen and (max-width:600px) {
    nav {
        font-family: 'oxygen mono';
        margin:auto;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        font-size: 3vw;
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100vw, auto) 
    }
  }
  
@media only screen and (max-width: 600px) {
    .wrapper2 {
        grid-template-columns: 1fr;
    }
  }
  
@media only screen and (max-width: 600px) {
    .wrapperhalf {
        grid-template-columns: 1fr;
    }
  }
  
@media all and (min-width:501px) {
      .desktop-br {display: inline;}
      .mobile-br {display: none;}
  }
  
@media all and (max-width:500px) {
      .desktop-br {display: none;}
      .mobile-br {display: inline;}
  }

@media (max-width: 600px) {
  .box {
    margin: 5%;
}
}

/* fonts mobile */

@media (max-width: 600px) {
    p {
      font-size: 15px;
    }
    description {
      font-size: 25px;
    }
    date {
      font-size: 15px;
    }
    h1 {
      font-size: 45px;
    }
    h2 {
      font-size: 18px;
      font-weight: normal;
    }
    h3 {
      font-size: 12px;
      font-weight: normal;
    }
  }

/* fonts mobile end*/

@media screen and (max-width: 900px) {
    .video {
      margin-top: 10%;
    }
  }

 /* masonry gallery mobile */
@media screen and (max-width: 1200px) {
    .masonry-container {
        column-count: 3;
    }
}
    
@media screen and (max-width: 900px) {
    .masonry-container {
        column-count: 2;
    }
}
        
@media screen and (max-width: 600px) {
    .masonry-container {
        column-count: 1;
    }
}

@media screen and (max-width: 900px) {
    .masonry-container-2 {
        column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    .masonry-container-2 {
        column-count: 1;
    }
}